<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

<<<<<<< HEAD
  <title>DeafTalk :: Home</title>
=======
  <title>Hear2Text :: Home</title>
>>>>>>> c29be793889b08c8b9304d1b440581a00e7272e0

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/vendor/simple-line-icons/css/simple-line-icons.css"
    rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
    rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="/stylesheets/landing-page.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand">Hear2Text</a>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Empowering connections for people with auditory
            impairments</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-8 mb-2 mb-md-0">
                <input type="text" class="form-control form-control-lg"
                  placeholder="Enter the channel name...">
              </div>
              <div class="col-12 col-md-2">
                <a href="/demo"
                  class="btn btn-block btn-lg btn-primary">Join</a>
              </div>
              <div class="col-12 col-md-2">
                <button type="submit"
                  class="btn btn-block btn-lg btn-primary">Create</button>
              </div>
            </div>
          </form>
        </div>`
      </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="d-flex">
              <img src="/images/agorabrand.png" alt="agora logo"
                class="m-auto p-2" height="110" width="100" />
            </div>
<<<<<<< HEAD
            <h3>Agora.io Video Platform</h3>
            <p class="lead mb-0">Implements Agora's video services to facilitate communication between users</p>
=======
            <h3>Agora Chat Platform</h3>
            <p class="lead mb-0">Implements Agora's chat services to facilitate
              communication between users</p>
>>>>>>> c29be793889b08c8b9304d1b440581a00e7272e0
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="d-flex">
              <img src="/images/google-favicon.png" alt="google logo"
                class="m-auto p-2" height="120" width="120" />
            </div>
<<<<<<< HEAD
            <h3>Google Speech-to-Text</h3>
            <p class="lead mb-0">Uses Google Cloud Speech-to-Text API to transcribe audio in real-time</p>
=======
            <h3>Cloud Speech-to-Text</h3>
            <p class="lead mb-0">Uses Google Cloud Speech-to-Text API to
              transcribe audio in real-time</p>
>>>>>>> c29be793889b08c8b9304d1b440581a00e7272e0
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i
                class="fas fa-assistive-listening-systems m-auto text-primary; colour: grey;"></i>
            </div>
            <h3>Easy to Use</h3>
            <p class="lead mb-0">Lol</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img"
          style="background-image: url('/images/background1.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Peer-to-peer speech to text communication</h2>
          <p class="lead mb-0 mt-2">Humans are social creatures. Communities are
            founded on the meaningful connections we collectively forge with one
            another. Animating our program is a goal: empowering individuals
            with auditory impairments to ensure that our whole community can
            thrive, grow and learn from these interpersonal connections.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img"
          style="background-image: url('/images/bg-showcase-3.jpg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Easy to Use</h2>
          <p class="lead mb-0 mt-2">Hear2Text strives to tear down the walls to
            connecting people, not erect more. Connecting with Hear2Text
            is as simple as coming up with a unique channel name that others can
            use to connect with you.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img"
          style="background-image: url('/images/plan-for-future.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Coming Soon...</h2>
<<<<<<< HEAD
          <p class="lead mb-0">Translations that supports the users primary language and visual-to-text translation of
            sign language</p>
=======
          <p class="lead mb-0 mt-2">Translations that supports the users primary
            language and visual-to-text translation of sign language.</p>
>>>>>>> c29be793889b08c8b9304d1b440581a00e7272e0
        </div>
      </div>
    </div>
  </section>

  <!-- Team -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">Our Team</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="/images/ming-li.jpg"
              alt="">
            <h5>Ming Li</h5>
            <p class="font-weight-light mb-0">Computer Science Graduate</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3"
              src="/images/sophie-furey.jpg" alt="">
            <h5>Sophie F.</h5>
            <p class="font-weight-light mb-0">Marketing Student</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3"
              src="/images/garrett-yeo.jpg" alt="">
            <h5>Garrett Y.</h5>
            <p class="font-weight-light mb-0">Electrical Engineering Student</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-md-center mt-4">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3"
              src="/images/elysia-gunn.jpeg" alt="">
            <h5>Elysia G.</h5>
            <p class="font-weight-light mb-0">LL.M. Student</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3"
              src="/images/ilias-karimalis.jpg" alt="">
            <h5>Ilias K.</h5>
            <p class="font-weight-light mb-0">Mathematics Student</p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Ready to get started?</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-8 mb-2 mb-md-0">
                <input type="email" class="form-control form-control-lg"
                  placeholder="Enter the channel name...">
              </div>
              <div class="col-12 col-md-2">
                <button type="submit"
                  class="btn btn-block btn-lg btn-primary">Join</button>
              </div>
              <div class="col-12 col-md-2">
                <button type="submit"
                  class="btn btn-block btn-lg btn-primary">Create</button>
              </div>
            </div>
          </form>
        </div>
      </div>
  </section>

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contact</a>
            </li>
            <!-- <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li> -->
          </ul>
<<<<<<< HEAD
          <p class="text-muted small mb-4 mb-lg-0">&copy; DeafTalk 2019. All Rights Reserved.</p>
=======
          <p class="text-muted small mb-4 mb-lg-0">&copy; DeafTalk. All Rights
            Reserved.</p>
>>>>>>> c29be793889b08c8b9304d1b440581a00e7272e0
        </div>
        <!--  <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div> -->
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>